@import './base.css';

.skeleton-loading {
  position: relative;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: none;
}

.skeleton-loading:before {
  position: absolute;
  content: ' ';
  z-index: 2;
  inset: 0;
  animation: skeletonAnimation 1s linear infinite alternate;
  border-radius: 3px;
}

@keyframes skeletonAnimation {
  0% {
    background-color: hsl(200, 20%, 30%);
  }

  100% {
    background-color: hsl(200, 20%, 50%);
  }
}
